$menu-height: 150px;

.game-container {
    width: 100%;
    height: 100%;
    .header {
        height: 150px;
        background-color: black;
    }
    .content {
        min-height: calc(100% - #{$menu-height});
        .lista-personagens {
            padding: 50px;

            .card-personagem {
                width: 100%;

                .img-personagem {
                    height: 150px;
                }
                .acoes {
                    height: 100px;
                    justify-content: space-evenly;
                }
            }
        }
        .pagination {
            height: 10%;
        }
    }
    .button {
        background-color: white;
        color: black;
        font-weight: 900;
        font-size: 20px;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}
